.cui-barcode {
  display: flex;
  flex-direction: column;
  gap: var(--toolbar-padding, 10px);

  // regular barcode
  .cui-barcode-ratio { 
    line-height: 1;
    height: 142px;

    canvas,
    img {
      height: 100%;
      width: auto;
    }

    canvas {
      display: block !important;
    }      
      
    .cui-label {
      background: var(--gray-200, hsl(210,5%,96%));
      padding: var(--toolbar-padding, 10px);
      min-height: 100px;

      .cui-label-content {
        max-width: 75%;
      }
    }
  }

  // is QR code = make it square
  &.cui-barcode--square {
    .cui-barcode-ratio {
      height: auto;
      max-width: 256px;
      aspect-ratio: 1 / 1;

      canvas,
      img {
        width: 100%;
        height: 100%;
      }

      img {
        object-fit: cover;
      }
    }
  }
}

