.cui-barcode {
  max-width: 234px;
   
  &-ratio {
    position: relative;
    padding-bottom: 43%;
  }

  canvas,
  img,
  .cui-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left top;
  }

  &--matrix {
    .cui-barcode-ratio {
      padding-bottom: 100%;
    }

    canvas {
      display: block !important;
    }

    img {
      display: none !important;
    }
  }

  .cui-label {
    background: hsl(210,5%,96%);
    padding: 10px;
  }
}